<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2014, 2016 Qualcomm Technologies, Inc.
  All Rights Reserved.
  Confidential and Proprietary - Qualcomm Technologies, Inc.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qti.xdivert"
    android:sharedUserId="android.uid.phone">

    <uses-sdk android:minSdkVersion="28"
        android:targetSdkVersion="28"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <application android:process="com.android.phone"
        android:label="@string/xdivert_title">
        <uses-library android:name="qti-telephony-hidl-wrapper" />
        <uses-library android:name="qti-telephony-utils" />

        <receiver android:name=".XDivert"
            android:label="XDivert">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name="XDivertPhoneNumbers"
            android:label="@string/phone_numbers">
        </activity>

        <activity android:name="XDivertSetting"
            android:theme="@style/ImsSettingsTheme"
            android:label="@string/xdivert_setting">
        </activity>

        <service android:name=".XDivertService">
        </service>
    </application>

</manifest>
