<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2014-2015 Qualcomm Technologies, Inc.
  All Rights Reserved.
  Confidential and Proprietary - Qualcomm Technologies, Inc.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.qti.confdialer">

    <uses-sdk android:minSdkVersion="28"
        android:targetSdkVersion="28"/>

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:label="@string/applicationLabel"
        android:hardwareAccelerated="true">

        <activity android:name="com.qualcomm.qti.confdialer.conference.ConferenceCallActivity"
            android:label="@string/conference_call_activity_title"
            android:theme="@style/ConfereenceDialerStyle"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="org.codeaurora.confdialer.ACTION_LAUNCH_CONF_DIALER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
